In [8]:
print("*******************************")
print("Data Inputan")
nis = int(input("Masukan Nis : "))
nama = str(input("Masukan Nama : "))
jk = str(input("Masukan Jk : "))
rombel = input("Masukan Rombel : ")
rayon = input("Masukan Rayon : ")
nilaiA = int(input("Nilai B. Indonesia : "))
nilaiB = int(input("Nilai Matematika : "))
nilaiC = int(input("Nilai B.Inggris : "))
print("********************************")
print("Laporan Nilai Akhir Semester")
print("SMK WIKRAMA BOGOR")
print("--------Data Diri--------")
print("NIS    :",nis)
print("NAMA   :",nama)
print("JK     :",jk)
print("Rombel :",rombel)
print("Rayon  :",rayon)
print("--------Nilai--------")
print("Bahasa Indonesia =",nilaiA)
print("Matematika       =",nilaiB)
print("Bahasa Inggris   =",nilaiC)
rata2 = (nilaiA+nilaiB+nilaiC)/3
print("Rata Rata =",rata2)
if rata2 >= 75:
    print("Lulus")
else:
    print("Tidak Lulus")

*******************************
Data Inputan
Masukan Nis : 456
Masukan Nama : jhgfd
Masukan Jk : h
Masukan Rombel : 8uj
Masukan Rayon : 7uj
Nilai B. Indonesia : 10
Nilai Matematika : 10
Nilai B.Inggris : 10
********************************
Laporan Nilai Akhir Semester
SMK WIKRAMA BOGOR
--------Data Diri--------
NIS    : 456
NAMA   : jhgfd
JK     : h
Rombel : 8uj
Rayon  : 7uj
--------Nilai--------
Bahasa Indonesia = 10
Matematika       = 10
Bahasa Inggris   = 10
Rata Rata = 10.0
Tidak Lulus